.logout-container
  .logout-container__mypage__main
    .logout-container__mypage__main__box
      .logout
        %a.logoutbtn{href:"https://www.mercari.com/jp/"}ログアウト
  .logout-container__mypage__sidebar
    %ul.logout-container__mypage__sidebar__box
      %li.mypage
        %a.mypage{href:"https://www.mercari.com/jp/", class:"side-list"}マイページ
      %li.todo
        %a.todo{href:"https://www.mercari.com/jp/", class:"side-list"}やることリスト
      %li.likelist
        %a.likelist{href:"https://www.mercari.com/jp/", class:"side-list"}いいね！一覧
      %li.exhibit
        %a.exhibit{href:"https://www.mercari.com/jp/", class:"side-list"}出品する
      %li.listing
        %a.listing{href:"https://www.mercari.com/jp/", class:"side-list"}出品した商品 - 出品中
      %li.progress
        %a.progress{href:"https://www.mercari.com/jp/", class:"side-list"}出品した商品 - 取引中
      %li.completed
        %a.completed{href:"https://www.mercari.com/jp/", class:"side-list"}出品した商品 - 売却済み
      %li.purchase
        %a.purchase{href:"https://www.mercari.com/jp/", class:"side-list"}出品した商品 - 取引中
      %li.purchased
        %a.purchased{href:"https://www.mercari.com/jp/", class:"side-list"}出品した商品 - 過去の取引
      %li.evaluation
        %a.evaluation{href:"https://www.mercari.com/jp/", class:"side-list"}評価一覧
      %li.setting{href:"https://www.mercari.com/jp/"}設定
      %li.profile
        %a.profile{href:"https://www.mercari.com/jp/", class:"side-list"}プロフィール
      %li.shipping
        %a.shipping{href:"https://www.mercari.com/jp/", class:"side-list"}発送元・お届け先住所変更
      %li.card
        %a.card{href:"https://www.mercari.com/jp/", class:"side-list"}支払い方法
      %li.mail
        %a.mail{href:"https://www.mercari.com/jp/", class:"side-list"}メール/パスワード
      %li.identification
        %a.identification{href:"https://www.mercari.com/jp/", class:"side-list"}本人情報
      %li.logout
        %a.logout{href:"https://www.mercari.com/jp/", class:"side-list"}ログアウト