= render partial: 'shared/header'
- breadcrumb :logout
= render partial: 'shared/gretel'
.mypage-container
  .logout-container
    .logout
      .logout-box
        %a.logoutbtn{href:"https://www.mercari.com/jp/"}ログアウト

  = render "shared/sidebar"
  = render 'shared/sell'