.mypage-sidebar
  %ul.mypage-sidebar__box
    %li.mypage
      %a.mypage{href:users_path, class:"side-list"}マイページ
    %li.todo
      %a.todo{href:"/", class:"side-list"}やることリスト
    %li.likelist
      %a.likelist{href:likes_path, class:"side-list"}いいね！一覧
    %li.exhibit
      %a.exhibit{href:new_item_path, class:"side-list"}出品する
    %li.listing
      %a.listing{href:listing_users_path, class:"side-list"}出品した商品 - 出品中
    %li.progress
      %a.progress{href:progress_users_path, class:"side-list"}出品した商品 - 取引中
    %li.completed
      %a.completed{href:completed_users_path, class:"side-list"}出品した商品 - 売却済み
    %li.purchase
      %a.purchase{href:purchase_users_path, class:"side-list"}出品した商品 - 取引中
    %li.purchased
      %a.purchased{href:purchased_users_path, class:"side-list"}出品した商品 - 過去の取引
    %li.evaluation
      %a.evaluation{href:"/", class:"side-list"}評価一覧
    %li.setting 設定
    %li.profile
      %a.profile{href:profile_users_path, class:"side-list"}プロフィール
    %li.shipping
      %a.shipping{href:"/", class:"side-list"}発送元・お届け先住所変更
    %li.card
      %a.card{href:cards_path, class:"side-list"}支払い方法
    %li.mail
      %a.mail{href:"/", class:"side-list"}メール/パスワード
    %li.identification
      %a.identification{href:"/", class:"side-list"}本人情報
    %li.logout
      %a.logout{href:logout_users_path, class:"side-list"}ログアウト