- if comments
  - comments.each do |comment|
    .messages__box
      .messages__box__icon
        -if comment.user.image.present?
          = image_tag(comment.user.image, width:"40px", height:"40px", class: "comment-icon")
        -else
          = image_tag("user-image.png", width:"40px", height:"40px", class: "comment-icon")
      .messages__box__text
        .messages__box__text__user
          = comment.user.nickname
        .messages__box__text__main
          = simple_format(comment.text)