.next {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 42px;
  a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      background-color: #fffafa;
      transform: scale(1.1, 1.1);
    }
  }
}