.exhibit-page{
  width:100vw;
  height:100%;
  background-color: rgb(233, 233, 233);
  .exhibit-wrape{
    width:700px;
    min-width: 500px;
    height:auto;
    margin: 0 auto;
    .exhibit-logo-field{
      width:700px;
      min-width: 500px;
      height: 128px;
      .exhibit-logo-box{
        width:224px;
        height:70px;
        margin: 0 auto;
        padding-top: 30px;
      }
    }

    .exhibit-head-field{
      width:700px;
      min-width: 500px;
      height: 97px;
      background-color: #fff;
      border-bottom:solid 1px rgb(211, 211, 211);
      &__title{
        text-align: center;
        line-height: 97px;
        font-family: "Yu Gothic";
        font-size: 22px;
        font-weight: bold;
      }
    }

    .exhibit-image-field{
      width:700px;
      min-width: 500px;
      min-height:303px;
      background-color: #fff;
      border-bottom:solid 1px rgb(211, 211, 211);
      &__title{
        float: left;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 50px;
      }
      &--required{
        float: left;
        font-family: "Yu Gothic";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width:35px;
        height: 20px;
        padding:3px 0;
        color: white;
        margin-top: 27px;
        margin-left: 10px;
        background-color: red;
      }
      &__notice{
        clear: both;
        font-size: 13px;
        padding-top: 10px;
        margin-left: 50px;
      }
      .exhibit-image-container{
        width:620px;
        margin: 0 auto;
        height: 162px;
        .increase-images-box{
          float: left;
          width: auto;
          height: auto;
          margin-top: 20px;
        }
        .exhibit-image-box{
          float: left;
          width: 620px;
          height: 162px;
          background-color: rgb(238, 238, 238);
          border-style: dashed;
          border-color: lightgrey;
          border-width: thin;
          text-align: center;
          margin-top: 20px;
          #add-file-field-point{      
            #custom-data-for{
              .box-click-label{
                cursor: pointer;
                p.exhibit-drug{
                  font-family: "Yu Gothic";
                  font-size: 14px;
                  padding-top:60px;
                  
                }
                p.exhibit-click{
                  font-family: "Yu Gothic";
                  font-size: 14px;
                  height:80px;
                }
              }
            }
          }
        }  
      }
    }

    .exhibit-info-field{
      width:700px;
      min-width: 500px;
      min-height: 355px;
      background-color: #fff;
      padding-bottom:40px;
      border-bottom:solid 1px rgb(211, 211, 211);
      &__label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 50px;
      }
      &--required{
        float: left;
        font-family: "Yu Gothic";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width:35px;
        padding:3px 0;
        color: white;
        margin-top: 27px;
        margin-left: 10px;
        background-color: red;
      }
      #item_name-error{
        float: left;
        margin-left: 10px;
        margin-top: 23px;
      }
      #item_discription-error{
        float: left;
        margin-left: 10px;
        margin-top: 23px;
      }
      &__name{
        clear: both;
        padding-top:5px;
        .input_item_name{
          display: block;
          margin:0 auto;
          width:620px;
          min-width: 500px;
          height: 50px;
          font-size: 15px;
          border-radius: 4px;
          border-style: none;
          padding-left:10px;
          border: solid 1px rgb(211, 211, 211);
        }
        .input_item_name::placeholder{
          color:gray;
          font-size: 15px;
          font-family: "Yu Gothic";
        }
        .input_item_name:focus{
          border: 1px solid #0099e8;
          outline: 0;
        }
      }
      &__discription{
        clear: both;
        padding-top:5px;
        .input_item_discription{
          display: block;
          width:620px;
          min-width: 620px;
          max-width: 620px;
          height: 150px;
          margin: 0 auto;
          padding:10px 0 0 10px;
          font-size: 15px;
          border-style: none;
          border: solid 1px rgb(211, 211, 211);
        }
        .input_item_discription::placeholder{
          color:gray;
          font-size: 15px;
          font-family: "Yu Gothic";
        }
        .input_item_discription:focus{
          border: 1px solid #0099e8;
          outline: 0;
        }
      }
    }

    .exhibit-detail-field{
      width:700px;
      min-width: 500px;
      min-height: 261px;
      padding-bottom:40px;
      background-color: #fff;
      border-bottom:solid 1px rgb(211, 211, 211);
      &__gray-label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        margin-top: 40px;
        margin-left: 50px;
        width: 200px;
        color: gray;
      }
      &__label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 5px;
      }
      &--required{
        float: left;
        font-family: "Yu Gothic";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width:35px;
        padding:3px 0;
        color: white;
        margin-top: 37px;
        margin-left: 10px;
        background-color: red;
      }
      #parent_category-error{
        float: left;
        margin-top: 32px;
        margin-left: 10px;
      }
      #item_size_id-error{
        float: left;
        margin-top: 32px;
        margin-left: 10px;
      }
      #item_status-error{
        float: left;
        margin-top: 32px;
        margin-left: 10px;
      }
      .exhibit-detail-category-wrape{
        &__box{
          padding-top:5px;
          position: relative;
          #category-angle{
            position: absolute;
            top: 70px;
            right: 60px;
          }
          #second-category-angle{
            position: absolute;
            top: 20px;
            right: 60px;
          }
          &--input{
            display: block;
            width:400px;
            height: 50px;
            margin-top: 5px;
            margin-left:250px;
            border-radius: 4px;
            padding-left: 10px;
            border-style: none;
            font-size: 15px;
            border: solid 1px rgb(211, 211, 211);
            background-color: #fff;
            cursor: pointer;
          }
          .input_item_discription:focus{
            border: 1px solid #0099e8;
            outline: 0;
          }
        }
      }

      .hidden-size-field{
        display:none;
        &__gray-label{
          float: left;
          font-family: "Yu Gothic";
          font-size: 14px;
          font-weight: bold;
          margin-top: 40px;
          margin-left: 50px;
          width: 200px;
          color: gray;
        }
        &__label{
          float: left;
          font-family: "Yu Gothic";
          font-size: 14px;
          font-weight: bold;
          margin-top: 40px;
          margin-bottom: 5px;
        }
        &--required{
          float: left;
          font-family: "Yu Gothic";
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          width:35px;
          padding:3px 0;
          color: white;
          margin-top: 37px;
          margin-left: 10px;
          background-color: red;
        }
        #item_size-error{
          float: left;
          margin-top: 34px;
          margin-left: 10px;
        }
        &__box{
          clear: both;
          padding-top:5px;
          position: relative;
          #size-angle{
            position: absolute;
            top: 15px;
            right: 60px;
          }
          #item_size_id{
            display: block;
            width:400px;
            height: 50px;
            margin-left:250px;
            border-radius: 4px;
            border-style: none;
            padding-left:10px;
            font-size: 15px;
            border: solid 1px rgb(211, 211, 211);
            background-color: #fff;
          }
          #item_size_id::placeholder{
            color:gray;
            font-size: 15px;
            font-family: "Yu Gothic";          
          }
          #item_size_id:focus{
            border: 1px solid #0099e8;
            outline: 0;
          }
        }  
      }
      .hidden-brand-field{
        display:none;
        &__gray-label{
          float: left;
          font-family: "Yu Gothic";
          font-size: 14px;
          font-weight: bold;
          margin-top: 40px;
          margin-left: 50px;
          width: 200px;
          color: gray;
        }
        &__label{
          float: left;
          font-family: "Yu Gothic";
          font-size: 14px;
          font-weight: bold;
          margin-top: 40px;
          margin-bottom: 5px;
        }
        &--required{
          float: left;
          font-family: "Yu Gothic";
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          width:35px;
          min-width: 20px;
          color: white;
          padding:3px 0;
          margin-top: 40px;
          margin-left: 10px;
          background-color: gray;
        }
        &__box{
          clear: both;
          padding-top:5px;
          #item_brand_id{
            display: block;
            width:400px;
            height: 50px;
            margin-left:250px;
            border-radius: 4px;
            border-style: none;
            font-size: 15px;
            padding-left:10px;
            border: solid 1px rgb(211, 211, 211);
            background-color: #fff;
          }
          #item_brand_id::placeholder{
            color:gray;
            font-size: 15px;
            font-family: "Yu Gothic";            
          }
          #item_brand_id:focus{
            border: 1px solid #0099e8;
            outline: 0;
          }         
        }  
      }
      &__status{
        clear: both;
        padding-top:5px;
        position: relative;
        #status-angle{
          position: absolute;
          top: 15px;
          right: 60px;
        }
        #item_status{
          display: block;
          width:400px;
          height: 50px;
          margin-left:250px;
          border-radius: 4px;
          border-style: none;
          padding-left:10px;
          font-size: 15px;
          border: solid 1px rgb(211, 211, 211);
          background-color: #fff;
          cursor: pointer;
        }
        #item_status::placeholder{
          color:gray;
          font-size: 15px;
          font-family: "Yu Gothic";          
        }
        #item_status:focus{
          border: 1px solid #0099e8;
          outline: 0;
        }
      }
    }

    .exhibit-delivery-field{
      width:700px;
      min-width: 500px;
      min-height: 371px;
      padding-bottom:40px;
      background-color: #fff;
      border-bottom:solid 1px rgb(211, 211, 211);
      &__gray-label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        margin-top: 40px;
        margin-left: 50px;
        width: 200px;
        color: gray;
      }
      &__label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 5px;
      }
      &--required{
        float: left;
        font-family: "Yu Gothic";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width:35px;
        padding:3px 0;
        color: white;
        margin-top: 37px;
        margin-left: 10px;
        background-color: red;
      }
      #item_delivery_cost-error,#item_delivery_method-error,#item_delivery_area-error,#item_delivery_days-error{
        float: left;
        margin-top: 32px;
        margin-left: 10px;
      }
      &__delivery{
        clear: both;
        padding-top:5px;
        position: relative;
        #delivery-angle{
          position: absolute;
          top: 15px;
          right: 60px;
        }
        #item_delivery_cost, #item_delivery_area, #item_delivery_days{
          display: block;
          width:400px;
          height: 50px;
          margin-left:250px;
          border-radius: 4px;
          border-style: none;
          font-size: 15px;
          padding-left:10px;
          border: solid 1px rgb(211, 211, 211);
          background-color: #fff;
          cursor: pointer;
        }
        #item_delivery_cost::placeholder{
          color:gray;
          font-size: 15px;
          font-family: "Yu Gothic";
        }
        #item_delivery_cost:focus{
          border: 1px solid #0099e8;
          outline: 0;
        }
      }
      #item_delivery_area:focus{
        border: 1px solid #0099e8;
        outline: 0;
      }
      #item_delivery_days:focus{
        border: 1px solid #0099e8;
        outline: 0;
      }
      
      .hidden-delivery-field{
        display:none;
        &__gray-label{
          float: left;
          font-family: "Yu Gothic";
          font-size: 14px;
          font-weight: bold;
          margin-top: 40px;
          margin-left: 50px;
          width: 200px;
          color: gray;
        }
        &__label{
          float: left;
          font-family: "Yu Gothic";
          font-size: 14px;
          font-weight: bold;
          margin-top: 40px;
          margin-bottom: 5px;
        }
        &--required{
          float: left;
          font-family: "Yu Gothic";
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          width:35px;
          padding:3px 0;
          color: white;
          margin-top: 37px;
          margin-left: 10px;
          background-color: red;
        }
        &__box{
          clear: both;
          padding-top:5px;
          position: relative;
          #hidden-delivery-angle{
            position: absolute;
            top: 15px;
            right: 60px;
          }
          #item_delivery_method{
            display: block;
            width:400px;
            height: 50px;
            margin-left:250px;
            border-radius: 4px;
            font-size: 15px;
            padding-left:10px;
            border-style: none;
            background-color: #fff;
            border: solid 1px rgb(211, 211, 211);
            cursor: pointer;
          }
          #item_delivery_method::placeholder{
            color:gray;
            font-size: 15px;
            font-family: "Yu Gothic";          
          }
          #item_delivery_method:focus{
            border: 1px solid #0099e8;
            outline: 0;
          }
        }  
      }
    }

    .exhibit-price-field{
      width:700px;
      min-width: 500px;
      min-height: 299px;
      background-color: #fff;
      border-bottom:solid 1px rgb(211, 211, 211);
      &__gray-label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        width: 200px;
        height:100px;
        padding-top: 40px;
        margin-left: 50px;
        color: gray;
        .exhibit-price-range{
          font-size: 12px;
          color: gray;
        }
      }
      &__label{
        float: left;
        font-family: "Yu Gothic";
        font-size: 14px;
        font-weight: bold;
        width:35px;      
        margin-top: 60px;
        
      }
      &--required{
        float: left;
        font-family: "Yu Gothic";
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        width:35px;
        padding:3px 0;
        color: white;
        margin-top: 57px;
        background-color: red;
      }
      &__mark{
        float: left;
        width:20px;
        padding-left:110px;
        margin-top: 60px;
      }
      &__box{
        float: right;
        .input_item_price{
          width:200px;
          height: 50px;
          margin-top: 40px;
          margin-right: 45px;
          border-radius: 4px;
          border-style: none;
          font-size: 15px;
          padding-left:10px;
          border: solid 1px rgb(211, 211, 211);
        }
        .input_item_price::placeholder{
          color:gray;
          font-size: 15px;
          padding-left:120px;
          font-family: "Yu Gothic";
        }
        .input_item_price:focus{
          border: 1px solid #0099e8;
          outline: 0;
        }
      }
      &__fee{
        clear: both;
        width:400px;
        height:60px;
        margin-left: 250px;
        border-top:solid 1px rgb(211, 211, 211);
        .exhibit-fee-label{
          float: left;
          font-size: 14px;
          font-family: "Yu Gothic";
          line-height:60px;
          
        }
        .exhibit-fee-result{
          float: right;
          font-size: 14px;
          font-family: "Yu Gothic";
          line-height:60px;
        }

      }
      &__profit{
        width:400px;
        height:60px;
        margin-left: 250px;
        border-top:solid 1px rgb(211, 211, 211);
        .exhibit-profit-label{
          float: left;
          font-size: 16px;
          font-family: "Yu Gothic";
          font-weight: bold;
          line-height:60px;
        }
        .exhibit-profit-result{
          float: right;
          font-size: 18px;
          font-family: "Yu Gothic";
          font-weight: bold;
          line-height:60px;
        }
        #item_price-error{
          float: right;
          margin-top: 60px;
        }
      }
    }  

    .exhibit-button-field{
      width:700px;
      min-width: 500px;
      min-height: 329px;
      background-color: #fff;
      .button-text-area{
        width: 620px;
        margin:0 auto;
        padding-top: 50px;
        font-size: 14px;
        &--one{
          .link-ban{
            text-decoration: none;
            color: #0099e8;
          }
        }
        &--two{
          .link-ban{
            text-decoration: none;
            color: #0099e8;
          }
        }
        &--three{
          .link-ban{
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      .button-submit-area{
        &__do{
          width: 620px;
          margin: 30px auto 20px auto;
          .exhibit-submit-btn{
            font-size: 14px;
            border: none;
            width: 620px;
            height: 50px;           
            color: #fff;
            background-color: red;
          }
        }
        &__back{
          width: 280px;
          height: 50px;
          background-color: gray;
          text-align: center;
          margin: 0 auto;
          .exhibit-back-btn{
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            line-height: 50px;
          }
        }
      }
    }
    .exhibit-foot-field{
      width:700px;
      min-width: 500px;
      min-height: 220px;
      .footer-menu{
        height: 50px;
        padding-top:50px;
        &__policy{
          float: left;
          font-size: 12px;
          margin-left: 160px;
          .link-foot{
            text-decoration: none;
            color: black;
          }
        }
        &__terms{
          float: left;
          font-size: 12px;
          margin-left: 20px;
          .link-foot{
            text-decoration: none;
            color: black;
          }
        }
        &__notation{
          float: left;
          font-size: 12px;
          margin-left: 20px;
          .link-foot{
            text-decoration: none;
            color: black;
          }
        }
      }
      .footer-logo{
        margin: 30px auto 0 auto;
        width: 90px;
        height: 90px;
      }
      .footer-copy{
        text-align: center;
        font-size: 10px;
      }
    }
  }
}