body {
  background-color: #f5f5f5;
  min-height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  // position: relative;
}
.single-container {
  padding: 0 0 100px;
  position: relative;
  &__header {
    text-align: center;
    height: 128px;
    padding-left: 35px;
    h1 {
      display: inline-block;
      margin: 40px 0 0;
    }
  }
  &__header.login {
    padding-right: 40px;
  }
  &__main {
    display: block;
  }
}
.l-single-container {
  background-color:white;
  width: 700px;
  margin: 0 auto;
  &__head.registration  {
    padding: 32px;
    font-size: 22px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 30px;
  }
  &__head {
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
  }
  &__inner.registration-form {
    padding: 40px 40px 64px;
  }
  &__inner {
    &--content {
      margin: 0 auto;
      text-align: center;
      max-width: 343px;

    }
  }
}
.btn-mail {
  color: #fff;
  position: relative;
  background-color: #ea352d;
}
.fa-facebook-square {
  position: absolute;
  top: 17%;
  left: 16px;
  font-size: 31px;
  color: #fff;

 }
 .fa-envelope {
  position: absolute;
  top: 30%;
  left: 16px;
  font-size: 20px;
  color: #fff;
 }
 .fa-google {
  position: absolute;
  top: 34%;
  left: 20px;
  font-size: 20px;
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
.btn-sns-facebook {
  margin: 16px 0 0;
  background-color: #385185;
  color: #fff;
  position: relative;
}
.btn-sns-google {
  margin: 16px 0 0;
  background-color: #fff;
  border: 1px solid ;
  color: #333;
  position: relative;
}
.btn-default {
  text-decoration: none;
  border-radius: 4px;
  display: block;
  text-align: center;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  // border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  touch-action: manipulation;
}
.logo {
  display: inline-block;
  width: 185px;
  height: 49px;
  margin: 0 8px 0 0;
  line-height: 49px;
  text-decoration: none;
  touch-action: manipulation;
  padding-right: 15px;
}
.new-phone-footer {
  padding-top: 60px;
  text-align: center;
  .footer-list {
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  .single-footer-logo {
    width: 80px;
    height: 65px;
    padding-left: 15px;
  }
  .footer-image {
    vertical-align: middle;
    margin: 40px auto 0;
    width: 80px;
    height: 65px;
  }
  ul {
    font-size: 0;
    list-style: none;
  }
  li {
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 16px;
    display: inline-block;
  }
  p {
    margin: 8px 0 0;
    small {
      font-size: 11px;
      padding-left: 15px;
    }
  }
}

.progress-bar {
  padding: 40px 0 0 44px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  ol {
    margin: 0;
    list-style: none;
  }
  li {
    margin: 0 40px 0 0;
    min-width: 60px;
    font-size: 12px;
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #888;
  }
  li.active {
    font-weight: 600;
    color: #ea352d;
  }

  .progress-status {
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
  }
  .progress-status:after {
    left: 50%;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    border-style: solid;
    border-width: 0;
    text-decoration: inherit;
    box-sizing: inherit;
  }
  .progress-status.now:before {
    background-color: #ea352d
  }
  .progress-status.now {
    background-color: #ea352d
  }
  .progress-status.past:before {
    background-color: #ea352d
  }
  .progress-status.past {
    background-color: #ea352d
  }
  .last-status.now:before {
    background-color: #ea352d;
  }
  .progress-status.past:after {
    background-color: #ea352d
  }
  .first-status.past:after {
    background-color: #ea352d
  }
  .first-status.past {
    background-color: #ea352d
  }
  .first-status.now {
    background-color: #ea352d
  }
  .last-status.now:before {
    background-color: #ea352d
  }
  
  .progress-status:before{
    right: 50%;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    border-style: solid;
    border-width: 0;
    text-decoration: inherit;
    box-sizing: inherit;
  }

  .first-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
    background-color: #ccc;
  }
  // .now,.past {
  //   width: 12px;
  //   height: 12px;
  //   border-radius: 50%;
  //   margin: 8px auto 0;
  //   background-color: #ea352d;
  // }
  .first-status:after {
    left: 50%;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    border-style: solid;
    border-width: 0;
    text-decoration: inherit;
    box-sizing: inherit;
  }
  
  .last-status {
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 8px auto 0;
  }
  .last-status:before {
    right: 50%;
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    border-style: solid;
    border-width: 0;
    text-decoration: inherit;
    box-sizing: inherit;
  }
}
.l-single-inner.registration-form {
  padding: 24px 16px 40px;
}

.l-single-container {
  &__content {
    max-width: 343px;
    margin: 0 auto;
    .form-group {
      .text-center {
        margin-top: 40px;
      }
    }
    p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
    p:first-child {
      margin: 0;
      padding: 0;
    }
  }
}
.form-group {
  label {
    padding-top:5px; 
    font-weight: 300;
    display: inline-block;
  }
  .form-require {
    background-color: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .form-require.option {
    background-color: rgb(209, 209, 209);
  }
  .input-default {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
    
  }
  .input-default.error {
    border-color: #ea352d;
    color: black;
  }
  select {
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  .l-chapter-sub-head {
    font-size: 16px;
    font-weight: 600;
  }
  .l-single-text {
    margin: 8px 0 0;
    padding: 0;
    line-height: 1.5;

  }
  .text-center {
    text-align: center;
    margin-top: 40px;
  }
  .birthday-select-wrap {
    
    .select-wrap {
     
      // &__day {
      //   .help-block {
      //     float: left;
      //     display: block;
      //   }
      // }
      // &__year {
      //   .help-block {
      //     display: none;
      //   }
      // }
      // &__month {
      //   .help-block {
      //     display: none;
      //   }
      #user_birthday {
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      #user_birthday.error {
        border-color: #ea352d;
      }
      }
      .fa {
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: 2;
        color: #888;
        font-size: 25px;
        transform: translate(0 -50%);
        font-weight: bold;
      }
      select {
        width: 76px;
        height: 48px;
        // -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 8px 0 0;
        background-color: #fff;
        display: inline-block;
        position: relative;
        // pointer-events: none;
      }
    }
  }
.form-group.prefecture {
  position: relative;
  #shipping_prefectures {
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  #shipping_prefectures.error {
    border-color: #ea352d;
  }
  .fa-angle-down {
    position: absolute;
    top: 37px;
    font-weight: bold;
    right: 10px;
    font-size: 20px;
    color: gray;
  }
}  
.form-group:first-child {
  margin: 0;
}
.form-group:not(:first-of-type) {
  margin: 24px 0 0;
}
.input-default.half:first-of-type {
  margin-right: 8px;
}
.name-form {
  display: flex;
}
.input-default.half {
  width: 50%;
}
.select-wrap:first-of-type {
  width: 76px;
}
.select-wrap {
  display: inline-block;
  margin: 8px 0 0;
  position: relative;
  background-color: #fff;
}
.registrations-footer {
  // position: absolute;
  // right: 0;
  // top: 1320px;
  // left: 0;
  // z-index: 1;
  // width: 456px;
  // height: 220px;
  // padding: 40px 0;
  // margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  .footer-list {
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  .single-footer-logo {
    width: 80px;
    height: 65px;
    padding-left: 15px;
  }
  .footer-image {
    vertical-align: middle;
    margin: 40px auto 0;
    width: 80px;
    height: 65px;
  }
  ul {
    font-size: 0;
    list-style: none;
  }
  li {
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 16px;
    display: inline-block;
  }
  p {
    margin: 8px 0 0;
    small {
      font-size: 11px;
      padding-left: 15px;
    }
  }
}
.form-info-text {
  color: #888;
}

.btn-red {
  background-color: #ea352d;
  color: #fff;
  border:  1px solid #ea352d;
  margin: 24px 0 0;
}
.after-space {
  padding-top: 50px;
}
.text-right {
  text-align: right;
  position: relative;
  .fa {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    bottom: 0px;
    left: 345px;
  }
}
.registration-link {
  color: #0099e8;
  text-decoration: none;
}

.shippings-footer {
  // position: absolute;
  // right: 0;
  // top: 1300px;
  // left: 0;
  // z-index: 1;
  // width: 456px;
  // height: 220px;
  // padding: 40px 0;
  // margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  .footer-list {
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  .single-footer-logo {
    width: 80px;
    height: 65px;
    padding-left: 15px;
  }
  .footer-image {
    vertical-align: middle;
    margin: 40px auto 0;
    width: 80px;
    height: 65px;
  }
  ul {
    font-size: 0;
    list-style: none;
  }
  li {
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 16px;
    display: inline-block;
  }
  p {
    margin: 8px 0 0;
    small {
      font-size: 11px;
      padding-left: 15px;
    }
  }
}
.login-panel {
  margin: 0 auto;
  background-color: #fff;
  max-width: none;
  width: 456px;
  &__no-account {
    padding: 40px 64px;
    text-align: center;
    p {
      font-size: 14px;
    }
    .btn-registration {
      text-decoration: none;
      display: block;
      margin: 8px 0 0;
      border: 1px solid #0099e8;
      background-color: #0099e8;
      color: #fff;
      line-height: 40px;
    }
  }
  &__form-inner:first-child {
    padding: 24px 64px 32px;
    border: 0;
  }
  &__form-inner {
    padding: 32px 64px;
    .btn-sns-facebook:first-child {
      margin: 0;
    }
    .btn-sns-facebook {
      background-color: #385185;
      color: #fff;
    }
    .btn-sns-google {
      margin: 16px 0 0;
      background-color: #fff;
      border: 1px solid #979797;
      color: #333;
    }
    .btn-sns {
      position: relative;
    }
    .btn-default {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
     
      cursor: pointer;
      text-align: center;
    }
    .form-group {
      .input-default {
        margin: 0;
        width: 100%;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;
        line-height: 1.5;
        font-size: 16px;

      }
    }
  }
  &__form-inner.sns {
    border-top: 1px solid #eee;
  }
  .forget-password {
    display: block;
    margin: 40px 0 0;
    color: #0099e8;
    text-decoration: none;
  }
}


.login-footer {
  position: absolute;
  right: 0;
  top: 800px;
  left: 0;
  z-index: 1;
  width: 456px;
  height: 220px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  .footer-list {
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  .single-footer-logo {
    width: 80px;
    height: 65px;
    padding-left: 15px;
  }
  .footer-image {
    vertical-align: middle;
    margin: 40px auto 0;
    width: 80px;
    height: 65px;
  }
  ul {
    font-size: 0;
    list-style: none;
  }
  li {
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 16px;
    display: inline-block;
  }
  p {
    margin: 8px 0 0;
    small {
      font-size: 11px;
      padding-left: 15px;
    }
  }
}
// .l-single-container.shippings {
//   height: 1070px;
// }
.error {
  color: red;
  line-height: 2;
}
// .field_with_errors {
//   display: none;
// }  
// #user_birthday-error {
//   display: block;
// }
