* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

@media screen and (min-width: 1068px) {
  .mypage-container {
    width: 1020px;
    margin: 124px auto;
    .logout-container {
      width: 700px;
      text-align: center;
      font-size: 12px;
      color: #333;
      background-color: #FFFFFF;
      float: right;
      .logout {
        padding: 64px;
        .logout-box {
          height: 50px;
          width: 320px;
          margin:  0 auto;
          text-align: center;
          font-size: 14px;
          line-height: 50px;
          display: block;
          background: #ea352d;
          cursor: pointer;
          .logoutbtn {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1068px) {
  .mypage-container {
    height: 100%;
    width: 700px;
    margin: 40px auto 0;
    display: block;
    .logout-container {
      width: 700px;
      text-align: center;
      font-size: 12px;
      color: #333;
      background-color: #FFFFFF;
      .logout {
        padding: 64px;
        margin: 124px 0px 0px 0px;
        .logout-box {
          height: 50px;
          width: 320px;
          margin:  0 auto;
          text-align: center;
          font-size: 14px;
          line-height: 50px;
          display: block;
          background: #ea352d;
          cursor: pointer;
          .logoutbtn {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mypage-container {
    height: 100%;
    width: 100%;
    margin: 40px auto 0;
    display: block;
    .logout-container {
      width: 100%;
      margin: 40px auto 0;
      text-align: center;
      font-size: 12px;
      color: #333;
      background-color: #FFFFFF;
      .logout {
        padding: 64px;
        margin: 124px 0px 0px 0px;
        .logout-box {
          height: 50px;
          width: 320px;
          margin:  0 auto;
          text-align: center;
          font-size: 14px;
          line-height: 50px;
          display: block;
          background: #ea352d;
          cursor: pointer;
          .logoutbtn {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}