@media screen and (min-width: 1068px) {
  .mypage-container-logout {
    width: 1020px;
    height: 865px;
    margin: 40px auto 0;
    padding: 0 0 40px;
    display: block;
    .logout-container {
      width: 700px;
      text-align: center;
      font-size: 12px;
      color: #333;
      background-color: #FFFFFF;
      margin-left: 40px;
      float: right;
      .logout {
        padding: 64px;
        .logout-box {
          height: 50px;
          width: 320px;
          margin:  0 auto;
          text-align: center;
          font-size: 14px;
          line-height: 50px;
          display: block;
          background: #ea352d;
          cursor: pointer;
          .logoutbtn {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1068px) {
  .mypage-container-logout {
    height: 100%;
    width: 700px;
    margin: 24px auto 0;
    padding: 0 0 40px;
    display: block;
    .logout-container {
      width: 700px;
      text-align: center;
      font-size: 12px;
      color: #333;
      background-color: #FFFFFF;
      .logout {
        padding: 64px;
        margin: 0;
        .logout-box {
          height: 50px;
          width: 320px;
          margin:  0 auto;
          text-align: center;
          font-size: 14px;
          line-height: 50px;
          display: block;
          background: #ea352d;
          cursor: pointer;
          .logoutbtn {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mypage-container-logout {
    height: 100%;
    width: 100%;
    margin: 24px auto 0;
    padding: 0 0 40px;
    display: block;
    .logout-container {
      width: 100%;
      margin: 40px auto 0;
      text-align: center;
      font-size: 12px;
      color: #333;
      background-color: #FFFFFF;
      .logout {
        padding: 64px;
        margin: 0;
        .logout-box {
          height: 50px;
          width: 320px;
          margin:  0 auto;
          text-align: center;
          font-size: 14px;
          line-height: 50px;
          display: block;
          background: #ea352d;
          cursor: pointer;
          .logoutbtn {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}