.mypage-body {
  width: 1020px;
  height: 1240.420px;
  margin: 40px auto 0;
  padding: 0 0 40px;
  display: block;
  .right-contents-block {
    width: 700px;
    height: 1200.420px;
    background-color: red;
    margin-left: 40px;
    float: right;
  }
}