@media screen and (min-width: 1068px) {
  .mypage-body {
    width: 1020px;
    height: 1165px;
    margin: 40px auto 0;
    padding: 0 0 40px;
    display: block;
    .right-contents-block {
      width: 700px;
      background-color:#fff;
      margin-left: 40px;
      float: right;
      &__top {
        padding-top: 50px;
        height: 323px;
        background-image: url(user_bg.png);
        background-size: cover;
        .mypage-user-icon {
          display: block;
          margin: 0 auto;
          width: 180px;
          height: 180px;
          background-size: cover;
          border-radius: 50%;
        }
        .mypage-user-name{
          margin: 8px 0 16px;
          font-size: 18px;
          font-weight: 400;
          color: #333;
          line-height: 1.4;
          text-align: center;
        }
        .level-and-sell-score {
          font-size: 14px;
          font-weight: 600;
          color: #333;
          height: 14px;
          text-align: center;
          .sell-score {
            margin-left: 12px;
          }
        }
      }
      &__intro {
        height: 166px;
        .level-detail {
          margin: 0 auto;
          height: 50px;
          padding-top: 14px;
          width: 360px;
          .listing-level {
            padding-right: 30px;
            float: left;
            width: 130px;
            height: 28px;
            &-cover {
              color: #333;
              width: 100px;
              line-height: 26px;
              .listing-icon {
                color: #ef5185;
              }
              .listing-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
                &:hover {
                  color: #ef5185;
                  transform: scale(1.3, 1.3);
                }
              }
            }
            &-cover:hover {
              transform: scale(1.3, 1.3);
              .listing-icon {
                transform: scale(1.3, 1.3);
              }
            }
          }
          .completed-level {
            padding-right: 30px;
            float: left;
            width: 130px;
            height: 28px;
            &-cover {
              color: #333;
              width: 100px;
              line-height: 26px;
              .completed-icon {
                color: #fba933;
              }
              .completed-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
                &:hover {
                  color: #fba933;
                  transform: scale(1.3, 1.3);
                }
              }
            }
            &-cover:hover {
              transform: scale(1.3, 1.3);
              .completed-icon {
                transform: scale(1.3, 1.3);
              }
            }
          }
          .purchased-level {
            float: left;
            width: 100px;
            height: 28px;
            &-cover {
              color: #333;
              width: 100px;
              line-height: 26px;
              .purchased-icon {
                color: #6ab5d8;
              }
              .purchased-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
                &:hover {
                  color: #6ab5d8;
                  transform: scale(1.3, 1.3);
                }
              }
            }
            &-cover:hover {
              transform: scale(1.3, 1.3);
              .purchased-icon {
                transform: scale(1.3, 1.3);
              }
            }
          }
        }
        .intro-detail {
          padding: 30px 50px 60px 50px;
          border-top: 2px solid #f5f5f5;
          line-height: 1.5;
          .intro-text {
            font-size: 16px;
            font-weight: 400;
            color: #333;
          }
        }
      }
      .right-contents-block__bottom {
        margin: 24px auto;
        padding: 32px 0 24px;
        width: 700px;
        .sns-box {
          margin: 16px 0 0;
          text-align: center;
          font-size: 0;
          .face-book-block {
            display: inline-block;
            margin: 0 8px 8px 0;
            vertical-align: middle;
            text-align: center;
            .face-book-link {
              display: block;
              &:hover {
                opacity: 0.6;
              }
            }
          }
          .twitter-block {
            display: inline-block;
            margin: 0 8px 8px 0;
            vertical-align: middle;
            text-align: center;
            .twitter-link {
              display: block;
              &:hover {
                opacity: 0.6;
              }
            }
          }
          .line-block {
            margin: 0 0 8px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            .line-link {
              display: block;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1068px) {
  .mypage-body {
    height: 100%;
    width: 700px;
    margin: 24px auto 0;
    padding: 0 0 40px;
    display: block;
    .right-contents-block {
      width: 700px;
      height: 100%;
      background-color:#fff;
      &__top {
        padding-top: 50px;
        height: 323px;
        background-image: url(user_bg.png);
        background-size: cover;
        .mypage-user-icon {
          display: block;
          margin: 0 auto;
          width: 180px;
          height: 180px;
          background-size: cover;
          border-radius: 50%;
        }
        .mypage-user-name{
          margin: 8px 0 16px;
          font-size: 18px;
          font-weight: 400;
          color: #333;
          line-height: 1.4;
          text-align: center;
        }
        .level-and-sell-score {
          font-size: 14px;
          font-weight: 600;
          color: #333;
          height: 14px;
          text-align: center;
          .sell-score {
            margin-left: 12px;
          }
        }
      }
      &__intro {
        height: 166px;
        .level-detail {
          margin: 0 auto;
          height: 50px;
          padding-top: 14px;
          width: 360px;
          .listing-level {
            padding-right: 30px;
            float: left;
            width: 130px;
            height: 28px;
            &-cover {
              width: 100px;
              line-height: 26px;
              .listing-icon {
                color: #ef5185;
              }
              .listing-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
              }
            }
          }
          .completed-level {
            padding-right: 30px;
            float: left;
            width: 130px;
            height: 28px;
            &-cover {
              width: 100px;
              line-height: 26px;
              .completed-icon {
                color: #fba933;
              }
              .completed-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
              }
            }
          }
          .purchased-level {
            float: left;
            width: 100px;
            height: 28px;
            &-cover {
              width: 100px;
              line-height: 26px;
              .purchased-icon {
                color: #6ab5d8;
              }
              .purchased-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
              }
            }
          }
        }
        .intro-detail {
          padding: 30px 50px 60px 50px;
          border-top: 2px solid #f5f5f5;
          .intro-text {
            font-size: 16px;
            font-weight: 400;
            color: #333;
          }
        }
      }
      &__bottom {
        margin: 24px auto;
        padding: 32px 0 24px;
        width: 700px;
        .sns-box {
          margin: 16px 0 0;
          text-align: center;
          .face-book-block {
            display: inline-block;
            margin: 0 8px 8px 0;
            vertical-align: middle;
            text-align: center;
            .face-book-link {
              display: block;
              .face-book-icon {
                border-radius: 4px;
                line-height: 44px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
          .twitter-block {
            display: inline-block;
            margin: 0 8px 8px 0;
            vertical-align: middle;
            text-align: center;
            .twitter-link {
              display: block;
              .twitter-icon {
                border-radius: 4px;
                line-height: 44px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
          .line-block {
            display: inline-block;
            margin: 0 0 8px ;
            vertical-align: middle;
            text-align: center;
            .line-link {
              display: block;
              .line-icon {
                border-radius: 4px;
                line-height: 44px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mypage-body {
    height: 100%;
    width: 100%;
    margin: 24px auto 0;
    padding: 0 0 40px;
    display: block;
    .right-contents-block {
      width: 100%;
      height: 100%;
      background-color:#fff;
      &__top {
        padding-top: 50px;
        height: 323px;
        background-image: url(user_bg.png);
        background-size: cover;
        .mypage-user-icon {
          display: block;
          margin: 0 auto;
          width: 180px;
          height: 180px;
          background-size: cover;
          border-radius: 50%;
        }
        .mypage-user-name{
          margin: 8px 0 16px;
          font-size: 18px;
          font-weight: 400;
          color: #333;
          line-height: 1.4;
          text-align: center;
        }
        .level-and-sell-score {
          font-size: 14px;
          font-weight: 600;
          color: #333;
          height: 14px;
          text-align: center;
          .sell-score {
            margin-left: 12px;
          }
        }
      }
      &__intro {
        height: 166px;
        .level-detail {
          margin: 0 auto;
          height: 50px;
          padding-top: 14px;
          width: 360px;
          .listing-level {
            padding-right: 30px;
            float: left;
            width: 130px;
            height: 28px;
            &-cover {
              width: 100px;
              line-height: 26px;
              .listing-icon {
                color: #ef5185;
              }
              .listing-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
              }
            }
          }
          .completed-level {
            padding-right: 30px;
            float: left;
            width: 130px;
            height: 28px;
            &-cover {
              width: 100px;
              line-height: 26px;
              .completed-icon {
                color: #fba933;
              }
              .completed-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
              }
            }
          }
          .purchased-level {
            float: left;
            width: 100px;
            height: 28px;
            &-cover {
              width: 100px;
              line-height: 26px;
              .purchased-icon {
                color: #6ab5d8;
              }
              .purchased-count {
                width: 60px;
                margin: 0 0 0 14px;
                float: right;
                text-align: center;
              }
            }
          }
        }
        .intro-detail {
          padding: 30px 50px 60px 50px;
          border-top: 2px solid #f5f5f5;
          .intro-text {
            font-size: 16px;
            font-weight: 400;
            color: #333;
          }
        }
      }
      &__bottom {
        margin: 24px auto;
        width: 100%;
        .sns-box {
          margin: 0 auto;
          text-align: center;
          .face-book-block {
            display: inline-block;
            margin: 0 8px 8px 0;
            vertical-align: middle;
            text-align: center;
            .face-book-link {
              display: block;
              .face-book-icon {
                border-radius: 4px;
                line-height: 44px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
          .twitter-block {
            display: inline-block;
            margin: 0 8px 8px 0;
            vertical-align: middle;
            text-align: center;
            .twitter-link {
              display: block;
              .twitter-icon {
                border-radius: 4px;
                line-height: 44px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
          .line-block {
            display: inline-block;
            margin: 0 0 8px ;
            vertical-align: middle;
            text-align: center;
            .line-link {
              display: block;
              .line-icon {
                border-radius: 4px;
                line-height: 44px;
                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }
  }
}